@model DevChoose.Domain.Models.User

@{
    ViewData["Title"] = "DevChoose - " + Model.CompanyName;
}

<div>
    <h3>@Model.CompanyName</h3>
</div>

<hr />

<div>
    <h5>Description:&emsp;<b><mark>@Model.About</mark></b></h5>
    <h5>Location:&emsp;<b><mark>@Model.Location</mark></b></h5>
    <h5>Email:&emsp;<b><mark>@Model.Email</mark></b></h5>
    <h5>Phone:&emsp;<b><mark>@Model.Phone</mark></b></h5>
    <h5>Founder name:&emsp;<b><mark>@Model.FullName</mark></b></h5>

    <br />
    @if (User.Identity.Name != Model.FullName && User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Value == "Customer")
    {
        <a asp-controller="dialogs" asp-action="write" asp-route-id="@Model.Id" class="btn btn-primary">Write</a>
    }
</div>